
<h4>Create a new student profile</h4>

<div class="row">
    <form name="newStudentForm" novalidate data-ng-submit="save()">
        <div class="form-horizontal">

            <div class="form-group">
                <div class="control-label col-md-2">Last Name</div>
                <div class="col-md-10">
                    <textarea class="form-control" cols="20" name="lastName" rows="2" data-ng-model="newStudent.lastName" required data-ng-maxlength="50" maxlength="50"></textarea>
                    <span class="field-validation-error" data-ng-show="newStudentForm.lastName.$error.required">Required!</span>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">First Name</div>
                <div class="col-md-10">
                    <textarea class="form-control" cols="20" ng-model="newStudent.firstMidName" name="firstMidName" rows="2" maxlength="50"></textarea>
               </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">Enrollment Date</div>
                <div class="col-md-10">
                    <textarea class="form-control" cols="20" ng-model="newStudent.enrollmentDate" name="enrollmentDate" rows="2" required maxlength="50"></textarea>
                    <span class="field-validation-error" data-ng-show="newStudentForm.enrollmentDate.$error.required">Required!</span>
                 </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" data-ng-disabled="newStudentForm.$invalid" />
                </div>
            </div>
        </div>

    </form>
</div>

<div class="row">
    <div>
        <a class="btn btn-primary" href="#/">back to list</a>
    </div>
</div>

